[2013-05-23 14:03] carlobaldassi opened #3 "Non-integer solution to integer problem"
I tried to feed an impossible problem to `mixintprog` with the CoinMP solver, and I got this result:

[code]

so it returns an `:Optimal` solution with non-integer values (and an incongruous "infinite" obj value).
Compare with the GLPK solver:

[code]

I didn't dig further, but I suppose this is a problem with CoinMP, or with the interface.

[2013-06-05 00:08] #3 closed, assigned to nobody

[2013-09-02 18:11] staticfloat opened #4 "BinDeps integration"
Your `deps/build.jl` doesn't seem to follow the same pattern as the rest of most `BinDeps`-dependent packages, which I think might ease any installation problems you might have.  Once you do so, you can add in `Homebrew` bottle installation support with the following lines:

[code]

Where `coinmpdep` is the object you create via `BinDeps`' `library_dependency()` function.

[2013-09-05 00:15] #4 closed, assigned to nobody

[2013-09-24 01:29] mlubin opened #5 "missing 64-bit windows binary"
Leave a +1 here if this would be useful to you. User demand will help motivate win64 support.

[2013-10-28 01:43] ViralBShah opened #7 "Building on OS X 10.9"
I get this on 10.9

[code]

Also cc: @staticfloat

[2013-11-02 22:08] #7 closed, assigned to nobody

[2013-11-12 03:39] IainNZ opened #8 "Empty constraint matrix kills Cbc"
[code]

[code]

[2013-11-12 16:45] #8 closed, assigned to nobody

[2014-01-29 00:34] IainNZ opened #9 "Installing on che"
As part of the PackageEvaluator

[code]

[2014-02-02 22:02] joehuchette opened #10 "Build error on OSX"
May have something to do with the new versioned ~/.julia directories.

[code]

[2014-02-03 15:23] #9 closed, assigned to nobody

[2014-02-03 15:26] #10 closed, assigned to nobody

[2014-02-13 11:25] shoibalc opened #11 "cbc compilation problems:attempting to patch twice?"
I have a strange problem here. Why is the build script attempting to build cbc twice over?
#

julia>Pkg.clone("https://github.com/JuliaOpt/Cbc.jl")
julia>Pkg.build("Cbc")
.
.
.
make[2]: Leaving directory `/home/shoibalc/.julia/Cbc/deps/src/CoinMP-1.7.0'
make[1]: Leaving directory`/home/shoibalc/.julia/Cbc/deps/src/CoinMP-1.7.0'
INFO: Attempting to Create directory /home/shoibalc/.julia/Cbc/deps/do

[2014-02-15 05:56] #11 closed, assigned to nobody

[2014-02-26 19:44] IainNZ opened #12 "Getting running with PackageEvaluator"
Just needs a test file it can guess to run, and a manual setup exception of MathProgBase in PackageEvaluator

[2014-04-08 22:11] WestleyArgentum opened #13 "scary build warnings about impending buffer overflow"
[code]

Has anyone else seen this? Suggestions?

[2014-05-23 13:01] chkwon opened #14 "Building error on Windows"
In my Windows 8 64-bit machine, I installed Julia v0.2.1 32-bit. When I build Cbc, I encountered the following error message:

julia> Pkg.build("Cbc")
Pkg.build("Cbc")
INFO: Building Cbc
INFO: Attempting to Create directory C:\Users\Changhyun.julia\v0.2\Cbc\deps\dow
nloads
INFO: Directory C:\Users\Changhyun.julia\v0.2\Cbc\deps\downloads already create
d
INFO: Downloading file http://www.mit.edu/~m

[2014-05-23 15:18] #14 closed, assigned to nobody

[2014-06-13 20:20] #13 closed, assigned to nobody

[2014-06-19 17:06] joehuchette opened #15 "Cbc doesn't like empty matrices"
Not sure if this a known problem, but from JuMP:

[code]

[code]

[2014-09-16 23:18] #5 closed, assigned to nobody

[2014-09-16 23:18] #15 closed, assigned to nobody

[2014-09-18 20:00] #12 closed, assigned to nobody

[2014-10-28 14:08] IainNZ opened #20 "[PkgEval] Cbc may have a testing issue on Julia 0.4 (2014-10-28)"
[PackageEvaluator.jl](https://github.com/IainNZ/PackageEvaluator.jl) is a script that runs nightly. It attempts to load all Julia packages and run their tests (if available) on both the stable version of Julia (0.3) and the nightly build of the unstable version (0.4). The results of this script are used to generate a [package listing](http://pkg.julialang.org/) enhanced with testing results.
####

[2014-10-30 17:58] #20 closed, assigned to nobody

[2014-11-07 01:50] vgupta1 opened #21 "CBC not pullled down?"
Hey all,

I'm working on Mac OSX 10.9.5.  Been using JuMP happily, but it seems Cbc solvers don't work.  If I explicitly load the Cbc module, and explicitly set solver to CbcSolver(), the model builds fine, but at solve time complains:

ERROR: libcbcsolver not defined
 in CbcModel at /Users/vishalgupta/.julia/v0.3/Cbc/src/CbcCInterface.jl:64
 in CbcMathProgModel at /Users/vishalgupta/.julia/v0.3/C

[2014-11-12 17:28] #21 closed, assigned to nobody

[2014-11-28 21:24] philipithomas opened #22 "constraintFromCutoff"
I do not see an API for the -constraintFromCutoff option set in CBC 2.8.0 - how difficult would it be to add?

[2014-11-29 02:08] #22 closed, assigned to nobody

[2014-12-04 16:07] howard4086 opened #23 "Warm Start Solution?"
I am trying to pass a warm start solution for a subset of integer variables using the setValue(x,v) command provided by JuMP, and it doesn't seem to be working.  (I don't get any error message, but there is no differences in the solves with or without it).  Does CBC support the setValue method for warm starts, or do I need to access the lower level model?  I noticed a setInitialSolution function i

[2014-12-04 18:34] #23 closed, assigned to nobody

[2015-04-08 02:35] ORESoftware opened #29 "missing definition"
what's up brolini

in your one example

just FYI

MIPSolver will be undefined

I assume the way to solve this is to simply install MIPSolver with Pkg.add

and then declare it with

using MIPSolver

at the top of your .jl file

but since I am new to Julia and CBC, this is all guesswork on my part

thanks

here is the file I am talking about:

![image](https://cloud.githubusercontent.com/assets/1113

[2015-04-08 02:48] ORESoftware commented on #29
Well, I am having trouble finding how to define MIPSolver in the example ; could you please help with this? thanks

[2015-04-08 03:03] ORESoftware commented on #29
I changed the file to:

using MathProgBase
using JuMP
using Cbc

function knapsack()
    f = Float64[3, 1, 2]
    A = [7. 3. 1.]
    capacity = 10.
    solution = mixintprog(-f, A, '<', capacity, 'I', 0, 1, MIPSolver(:Cbc,LogLevel=0))
    println("Solution status: ", solution.status)
    println("Optimal value: ", solution.objval) # should be -7
    print("Solution vector: ")
    show(solution.sol

[2015-04-08 03:16] #29 closed

[2015-04-08 03:16] mlubin commented on #29
Sorry about that, this example suffered from bitrot and wasn't being tested.

[2015-04-08 04:11] ORESoftware commented on #29
np, saved the next person some time, thanks for fixing

it worked

[2015-06-04 09:37] odow opened #30 "Cbc Preprocessing error (Windows only?)"
The following code reliably crashes Julia on Windows (both 7 and 8) as well as Julia 0.3.x and the latest 0.4. Cbc version 2.9.2 (and 2.9.1). Note that it has an extra unused variable in column 6.

[code]

The error is

[code]

Turning off presolve gets rid of the error (`m = Cbc.CbcMathProgModel(preprocess="off")`)

So, why does this only happen on Windows machines (doesn't occur on JuliaBox or U

[2015-06-04 10:58] mlubin commented on #30
@tkelman and I looked into a similar error. Cbc happens to be compiled with assertions enabled on windows but not on other platforms. No idea if the assertion is bogus or if there's a deeper issue in Cbc. Best way to get a definitive answer is to ask on the cbc mailing list.

[2015-06-04 11:02] odow commented on #30
Okay cheers

[2015-06-04 11:09] tkelman commented on #30
If you built with `--enable-debug` you could probably reproduce this elsewhere. Looks like this one's coming from Cgl, so if the end result is needing to disable assertions in Cgl (or upgrading to a newer version if there's a bugfix somewhere) I can file the request on the opensuse build service to do that. Or let you know how to do it, if you'd like to go through the steps yourself.

[2015-06-04 11:20] odow commented on #30
Its not actually a problem with my full model. I just came across it when playing around (with a small, moderately useless instance) when debugging an unrelated error and wondered about the cause.

Is there a reason why assertions are not enabled on other platforms?

[2015-06-04 11:24] tkelman commented on #30
That's the default in the upstream COIN-OR configure scripts. Assertions are disabled by default if you do the standard `./configure && make` even on Windows, enabling assertions on the WinRPM binaries was an unforeseen side-effect of the opensuse build service pre-setting `CXXFLAGS` to some default value. Ref https://github.com/JuliaOpt/CoinOptServices.jl/issues/2 for the whole debugging story.

[2015-08-20 08:54] kkmann opened #31 "Possible problem with Windows binaries and multithreading"
Hey,

I ran into strange problems when solving large binary integer problems on Win 7. Problems with more than approximately 10.000 variables randomly crash with no error message (Cbc log does not mention problems either). The problem is not deterministic - I do run into it quite often though.
I guess, the problem lies with Cbc not Cbc.jl, but maybe updating the binaries provided could help?
Small

[2015-08-20 13:25] mlubin commented on #31
The Cbc binaries are relatively up to date, cc @tkelman. Could you try writing out the model to an MPS or LP file and calling the cbc executable directly? My guess is that you'll see the same crashes. If so, you can report the issue to the cbc mailing list.

[2015-08-20 21:36] tkelman commented on #31
The binary build info is here https://build.opensuse.org/package/show/windows:mingw:win64/mingw64-Cbc - 2.9.2, relatively recent. Not hard to update though. The 32 bit binaries are done separately, same url but with 64 replaced by 32, and simple replacement in the spec file. I wouldn't be surprised if the combination of multithreading and using a dll build of all the Cbc libraries is not widely te

[2015-08-21 06:53] kkmann commented on #31
Hmm, damn - got the same problem with threads = 1 just way slower x)

I will try to extract an example that fails reasonably often and post it to the Cbc list.

[2016-02-17 04:40] chkwon opened #33 "Error with installing Cbc in juliabox with Julia 0.4.3"
When I run `Pkg.add("Clp")` in juliabox.org with Julia 0.4.3, I encounter the following error:

[code]

With Julia 0.3.12, it worked good.

[2016-02-17 04:43] mlubin commented on #33
Better to file this at https://github.com/JuliaLang/JuliaBox, I don't think anything is wrong with Cbc.jl
CC @tkelman @tanmaykm

[2016-02-17 04:45] chkwon commented on #33
Okay. I'll file with JuliaBox.

[2016-02-17 04:45] #33 closed

[2016-03-08 00:27] ns-1m opened #34 "Build Error in OS X 10.8 and Julia v0.4"
Hi,

I have been building glpk, cbc solver and scip in the mac os x 10.8 - macbookpro for a while (macbookpro retina mid 2012). It seems that homebrew in Julia has a problem.

Here is the log below.
[code]

[2016-03-08 00:44] mlubin commented on #34
There are no binaries provided for OS X 10.8 (10.9 is the oldest version with binaries). Do you have a compiler installed?

[2016-03-08 00:53] ns-1m commented on #34
Yes.

[code]
How can I use my compiled cbc solver?

bash-3.2$ cbc --version
Welcome to the CBC MILP Solver
Version: Trunk (unstable)
Build Date: Apr 18 2015
Revision Number: 2180

command line - cbc --version (default strategy 1)
No match for -version - ? for list of commands
CoinSolver takes input from arguments ( - switches to stdin)
Enter ? for list of commands or help
Coin:

[2016-03-08 01:09] mlubin commented on #34
``DYLD_LIBRARY_PATH`` should point to the directories that contain ``libcbcsolver.dylib`` and ``libclp.dylib``. (After that, restart julia and run ``Pkg.build("Cbc")``.) This package doesn't use the ``cbc`` binary.

[2016-03-08 01:31] ns-1m commented on #34
The current CBC solver build tools does not creates these 2 dynamic libraries libcbcsolver.dylib and libclp.dylib as you can in my previous posting here (in 2012)

http://list.coin-or.org/pipermail/cbc/2012-November/000973.html

I need advise how to create these 2 dynamic libraries libcbcsolver.dylib and libclp.dylib in configure script.

[2016-03-08 02:06] mlubin commented on #34
The build system has changed since 2012, you should be able to copy the ``./configure

[2016-03-08 02:39] ns-1m commented on #34
As you can see in the cbc -version logs that I posted I am not using 2012 configure. 2015 configure script  as shown here:

bash-3.2$ cbc --version
Welcome to the CBC MILP Solver
Version: Trunk (unstable)
Build Date: Apr 18 2015
Revision Number: 2180

[2016-03-08 04:53] tkralphs commented on #34
When you compile with `--enable-debug`, static libraries are built by default. You should be able to force dynamic libraries with `--enable-shared --disable-static` or better yet, just don't use `--enable-debug`. In your initial post above, the compiler that's being found by `configure` is `gcc-4.2` and `configure` fails because this compiler is not behaving as it should. I suggest you update to a

[2016-03-08 05:24] ns-1m commented on #34
OK. I need to overhaul / update OS X this mid 2012 macbookpro.

Thanks Ted.

[2016-03-08 14:46] #34 closed

[2016-03-09 01:02] ns-1m commented on #30
Using Mac OS X (10.8.5), Julia v0.40, JuMP master and CBC Solver 2.9.8, I got no problem. Here is result below.
[code]

[2016-03-28 20:20] mlubin opened #35 "cbc crashing on windows"
Cbc has started crashing on all appveyor runs with the error:
[code]
(Example: https://ci.appveyor.com/project/mlubin/jump-jl/build/1.0.1840/job/xqr4r8yuue54u5p3#L866)

Have there been any recent updates to the windows binaries?

CC @tkelman @emreyamangil

[2016-03-28 21:50] tkelman commented on #35
Possibly https://build.opensuse.org/package/rdiff/windows:mingw:win64/mingw64-runtime?linkrev=base&rev=39. Will test reinstating the replacement of GCC dll's.

[2016-03-29 10:57] tkelman commented on #35
Should get resolved by https://build.opensuse.org/package/rdiff/windows:mingw:win64/mingw64-runtime?linkrev=base&rev=40 in a few hours once everything is finished rebuilding upstream.

[2016-03-29 13:25] emreyamangil commented on #35
Thanks!!

[2016-03-30 00:10] mlubin commented on #35
Appears to be fixed, thanks!

[2016-03-30 00:10] #35 closed

[2016-06-09 05:26] JockLawrie opened #36 "ClpSimplex::initialSolve fails and aborts"
Hi there,

I am solving several integer programs with somewhere between a few dozen and a few thousand variables. Almost every time the solution is found without any problem. However, for 1 model in particular I get the error below and the program aborts.

Also, if I add some noise to the vector of objective coefficients, the model solves without a hitch.

I ran basic summary statistics of the vec

[2016-06-09 06:58] JockLawrie commented on #36
I worked around the problem by installing the latest versions of `libCbcSolver` and `libClp`. [This post](http://list.coin-or.org/pipermail/clp/2015-October/001610.html) indicates the need to update to a version more recent than Oct 2015, whereas Cbc.jl's default Cbc version (2.9.1) predates that.

For reference I include a description of the steps I took (I am running Julia 0.4.5 on Linux Debian

[2016-10-04 15:52] chriscoey opened #41 "logLevel = 0 prints too much"
It's very talky on MIP problems

[2016-10-04 16:28] chriscoey commented on #41
it happens on both mac and linux

[2016-11-08 05:42] samiit opened #43 "Specify initial Integer solution to CBC"
I'm trying to find how I can specify an initial integer solution to CBC within JuMP.

Currently, I see that CBC starts solving an MILP problem after solving the relaxed problem. But in my problem, if I just do a constraint satisfaction (no objective), I'm getting an integer solution to the variables, which I would like CBC to improve upon. Otherwise, with the full objective (involving all variable

[2017-01-30 03:15] chriscoey opened #45 "strange warning"
`WARNING: Solver does not appear to support adding constraints to an existing model. Hot-start is disabled.`

It's unclear what this is supposed to mean.

[2017-01-30 03:16] mlubin commented on #45
That's printed by JuMP

[2017-01-30 03:16] #45 closed

[2017-04-02 18:35] mlubin commented on #43
http://www.juliaopt.org/JuMP.jl/0.16/refvariable.html. Use ``setvalue`` to specify initial solutions. Cbc ignores incomplete solutions, so you have to specify a value for every variable in the model.

[2017-04-02 18:35] #43 closed

[2017-04-03 07:35] samiit commented on #43
Thanks.

[2017-04-30 00:36] yuzhangbit opened #48 "Pkg.build errors"
OS: ubuntu 16.04
Julia version: 0.5.1

When I run
[code]
I get the error output below:
[code]

[2017-04-30 01:02] blegat commented on #48
It seems you are missing MPI headers, could you try doing
[code]
and tell us if it worked ?

[2017-04-30 01:17] yuzhangbit commented on #48
@blegat Thanks for your quick reply.  I tried your method. The same error still happens.

[2017-04-30 01:30] blegat commented on #48
Did the installation work ? It should have also installed `libopenmpi-dev` as a dependency which has installed a file [mpi.h at `/usr/lib/openmpi/include/mpi.h`](http://packages.ubuntu.com/fr/trusty/amd64/libopenmpi-dev/filelist).
Can you check that it is indeed there with e.g. `$ ls /usr/lib/openmpi/include/mpi.h` ?

[2017-04-30 01:32] mlubin commented on #48
It's probably finding a version of Mumps that requires MPI. If you don't need this, reinstall a version of Mumps that doesn't link against MPI.

[2017-04-30 02:35] yuzhangbit commented on #48
@blegat  The installation worked.  But I still get the same error when installing Cbc in Julia.
If I run `ls /usr/lib/openmpi/include/mpi.h`,  the output is
[code]

[2017-04-30 02:38] mlubin commented on #48
@yuzhangbit, the entire build script is [here](https://github.com/JuliaOpt/Cbc.jl/blob/59b815c07aa4165112743b6ebdbfc7095dfc8728/deps/build.jl#L57).

[2017-04-30 02:55] yuzhangbit commented on #48
@mlubin Thanks for your information.

[2017-04-30 03:10] blegat commented on #48
It seems that the issue is that `mpi.h` is not in `/usr/lib/openmpi/include` is scanned for by `g++` when looking for the header. You can see where it looks for by running
[code]
If you add `-I /usr/lib/openmpi/include` to the `g++` line that is failing, it should find `mpi.h`.
However, it is weird that you should do that since normally when you install a `-dev` package with apt-get, you should ha

[2017-04-30 20:23] yuzhangbit commented on #48
Still can't resolve it.

[2017-04-30 20:37] blegat commented on #48
You can try
[code]
even if it's just a hack

[2017-04-30 20:39] mlubin commented on #48
@yuzhangbit, can you reproduce the issue by building from source and using the Cbc.jl script that I pointed to?

[2017-05-01 17:01] yuzhangbit commented on #48
@mlubin Yes.  By building Julia 0.5.1 from source and using the Cbc.jl, I can recreate the issue.

[2017-05-01 17:03] mlubin commented on #48
@yuzhangbit, I meant building Cbc from source independent of Julia, as you said you had done before.

[2017-05-01 17:06] yuzhangbit commented on #48
@blegat  Thanks for your information.  I tried.  It's not just 'mpi.h' file. If I hacked it in this way, the compiling asks for other mpi header files as well.  It's the whole mpi include directory that is not passed to the build script.

[2017-05-01 17:22] blegat commented on #48
Then do
[code]

[2017-05-01 17:28] mlubin commented on #48
The ubuntu cbc package ``coinor-libcbc-dev`` might also work. Just install it then run ``Pkg.build("Cbc")``.

[2017-05-01 17:53] yuzhangbit commented on #48
@mlubin  Cool! Thanks a lot.  The `coinor-libcbc-dev` solves the problem.

[2017-05-01 17:57] blegat commented on #48
@yuzhangbit glad to hear this. If you have the time, it would help us to know what is in the build script that makes Cbc not compile while when you compile it by hands it works.

[2017-05-01 18:37] yuzhangbit commented on #48
@blegat Sure thing.  It's the `Clp/src` build script under the `Cbc-2.9.8` folder that can not find the include directory for the `mpi`.  I also notice that the [Cbc build] script((https://github.com/JuliaOpt/Cbc.jl/blob/master/deps/build.jl)) doesn't follow the exact instruction from the [Cbc website](https://projects.coin-or.org/Cbc).  The
[code]
part is missing.

[2018-01-11 13:32] pedroborgesmelo opened #50 "Problems returning dual variables ?"
Hey Guys!

I have problems here taking the dual variables when using CbcSolver()
When I use ClpSolver(), everything goes fine..

Do we have a problem with CbcSolver?

Thanks,

[2018-01-11 13:56] joehuchette commented on #50
The duals for linear optimization (Clp) and integer optimization (Cbc) are quite different, and so Cbc doesn't return any dual information.

[2018-01-11 13:56] #50 closed

[2018-01-11 17:55] pedroborgesmelo commented on #50
Hey Joey!

Thanks. I thought Cbc would work as a linear solver in the absence of
integer variables..

Best,

2018-01-11 11:56 GMT-02:00 Joey Huchette <notifications@github.com>:

--
Pedro Henrique Borges de Melo

[2018-01-11 17:59] joehuchette commented on #50
It will, but it still won't provide dual information. If you're certain your problem is an LP, you should just pass it to Clp instead.

[2018-01-11 20:33] matbesancon opened #51 "Tests failing: incorrect call to NLopt"
While testing the package using  `Pkg.test`, got the following error after the testset  "Quadratics":
[code]

It seems that NLopt expects different arguments

[2018-01-12 00:49] mlubin commented on #50
It's possible that duals are actually provided through the CBC C API, but we haven't hooked them up if they are.

[2018-01-12 01:44] joehuchette commented on #50
I gave it a cursory look before and didn’t see anything, but I could’ve
missed it.
On Thu, Jan 11, 2018 at 7:49 PM Miles Lubin <notifications@github.com>
wrote:

[2018-01-12 14:47] mlubin commented on #51
This is an unfortunate consequence of https://github.com/JuliaOpt/JuMP.jl/issues/849 and Cbc using JuMP's tests to test itself. It will be resolved in the transition to JuMP/MathOptInterface.

[2018-05-10 15:06] ccoffrin opened #53 "Add Support for MathOptInterface"
No rush, just need an issue to track status.

[2018-06-13 21:49] mlubin commented on #30
This will be resolved when we move to BinaryBuilder for the windows binaries.

[2018-07-03 13:19] matbesancon opened #55 "`getbasis` not implemented"
From MathProgBase [documentation](http://mathprogbasejl.readthedocs.io/en/stable/lpqcqp.html#getbasis), `getbasis` must be defined for `AbstractLinearQuadraticModel`, but is not implemented here.

[code]

[2018-07-03 17:07] odow commented on #55
Not every method from MPB is implemented. PR's accepted :) If you wait, it it unlikely to get implemented given the upcoming change to MOI.

However, if you want it going forward, you may want to add the MOI versions (see [here](http://www.juliaopt.org/MathOptInterface.jl/latest/apireference.html#MathOptInterface.BasisStatusCode)) to PR https://github.com/JuliaOpt/Cbc.jl/pull/54

[2018-07-03 17:15] mlubin commented on #55
My initial guess is that this functionality does not exist in Cbc's C API.

[2018-07-05 11:39] mbesancon commented on #55
thanks, given the answer do we close this issue? I'll ask on the Cbc mailing list for it and if there exists something in the C API, re-open

[2018-07-24 19:04] jcheyns opened #56 "build fails on Windows on 0.7/1.0"
seems to be looking for
`mingw64-libstdc **%2B%2B**6-7.2.0-3.2.noarch.cpio`
in stead of `mingw64-libstdc**++**6-7.2.0-3.2.noarch.cpio`.
Encoding issue I  presume?

[2018-08-01 15:40] jcheyns commented on #56
The root cause seems to be https://github.com/JuliaPackaging/WinRPM.jl/issues/150

[2018-08-12 18:54] GravityAssisted opened #59 "build fails on Julia 1.0"
Building Cbc ────→ `~/.julia/packages/Cbc/DrG6a/deps/build.log`
┌ Error: Error building `Cbc`:
│ ERROR: LoadError: UndefVarError: is_unix not defined
│ Stacktrace:
│  [1] top-level scope at none:0
│  [2] include at ./boot.jl:317 [inlined]
│  [3] include_relative(::Module, ::String) at ./loading.jl:1038
│  [4] include(::Module, ::String) at ./sysimg.jl:29
│  [5] include(::String) at ./client.jl:388

[2018-08-28 00:36] ExpandingMan opened #62 "why always build from source?"
Hello all, perhaps this is a dumb question but I was wondering why this always builds from source, even when there are perfectly good libraries that the linker sees just fine.  The compile process for this can be a bit on the long side.

I can make a PR to change the behavior to check for available libraries before building if there is not some reason why it always builds.

[2018-08-28 00:55] mlubin commented on #62
We're intending to switch to BinaryBuilder soon, so all of this will change. But anyway I don't recall a reason not to use a system library if one is available.

[2018-09-14 12:01] mlubin commented on #51
Resolved by #61

[2018-09-14 12:01] #51 closed

[2018-09-15 02:15] #59 closed

[2018-09-15 02:46] mlubin commented on #53
This is done :)

[2018-09-15 02:46] #53 closed

[2018-09-18 21:38] GunnarFarneback commented on #62
For what it's worth, at one point I had Cbc regularly crashing with Debian's version but work fine with a newer version built from source.

[2018-09-18 22:50] ExpandingMan commented on #62
Sure, debian is a pain in the neck with being perpetually out of date (one of the reasons I'm trying to switch everything I do to Arch, still not quite there yet).  Still, it's probably uncontroversial to suggest that the default behavior should be to use system binaries if they exist, while always giving the user the option to compile from source.

[2018-09-19 08:06] blegat commented on #62
The issue with system binaries is that they may use the wrong version. The solver wrapper target a specific API version. If there is a way to check the version in the `build.jl` file then I see no reason not to use the system binaries if available and of the right version.

[2018-10-05 19:50] QuantumBits opened #72 "Build Error on Windows"
After installing Cbc.jl for the first time on Julia 1.0.1 on a Windows 7 machine, I found the following error message:

![image](https://user-images.githubusercontent.com/6290682/46556847-c62b9b00-c89c-11e8-92c6-b3a219e01444.png)

I was **actually** able to fix it by going to the folder specified and renaming the following file:

to the following:

(basically replaced '+' characters with "%2B").

[2018-10-09 02:28] mlubin commented on #72
This is a duplicate of https://github.com/JuliaOpt/Cbc.jl/issues/56.

[2018-10-09 02:28] #72 closed

[2018-10-16 16:05] orhanabar opened #74 "Error: Error building `Cbc`"
I am trying to build Cbc on Windows 10 and I am getting the error below. I am using Julia 1.0.1
I install the same version on Mac OSX and it is working without an issue.
I also installed vcredist_x86.exe and vc_redist.x64.exe as suggested. But the error still remains.

 Error: Error building `Cbc`:
│
│ ERROR: The system cannot find the file specified.
│ C:\Users\<user>\.julia\packages\WinRPM\Y9QdZ

[2018-10-16 16:45] mlubin commented on #74
This is a duplicate of https://github.com/JuliaOpt/Cbc.jl/issues/56

[2018-10-16 16:45] #74 closed

[2018-10-16 16:58] orhanabar commented on #56
Is there any solution for this error?

[2018-10-16 17:35] jcheyns commented on #56
see https://github.com/JuliaPackaging/WinRPM.jl/pull/157

I still need to create a test for the solution, need to find some time to do so...

[2018-10-17 17:14] jwveysey commented on #56
For what it's worth, I'd also be grateful to see a solution to this issue. Thanks!

[2018-10-17 21:43] jcheyns commented on #56
please see https://github.com/JuliaPackaging/WinRPM.jl/pull/157

Op wo 17 okt. 2018 om 12:14 schreef Jason Veysey <notifications@github.com>:

[2018-10-19 15:16] orhanabar commented on #56
In order to build Cbc on windows 10, should I install an earlier version of Julia?
If that is the case, what version should I install?

[2018-10-19 16:57] mlubin commented on #56
Cbc works on Julia 0.6.x under Windows.

[2018-10-21 16:35] orhanabar commented on #56
I found a solution for that. The error is about finding a file in WinRPM package so when you change the file name
"mingw64-libstdc++6-8.2.0-2.1.noarch.cpio" to
"mingw64-libstdc%2B%2B6-8.2.0-2.3.noarch.cpio" in
C:\Users\<user>\.julia\packages\WinRPM\Y9QdZ\cache\2 folder it builds fine.
But we still need a generic solution.

[2018-10-21 16:37] jcheyns commented on #56
The PR mentioned above does solve that.

On Sun, Oct 21, 2018 at 11:35 orhanabar <notifications@github.com> wrote:

[2018-10-21 16:56] orhanabar commented on #56
I am new in github and julia. So, what does PR mean and how can I apply?
When I run add Cbc or build Cbc in a Windows machine, I am still getting the same error. (I install julia first time on my friend's machine and tried building Cbc.)

[2018-10-22 15:03] jcheyns commented on #56
A PR is a Pull Request. It is a way to merge code changes and keep track of all the changes.
I think the easiest way for you is to wait untill the PR https://github.com/JuliaPackaging/WinRPM.jl/pull/157 is merged into the WinRPM release.
Apart from that you could tell your Julia to use a specific version of WinRPM.
Read up on the Package management on https://docs.julialang.org/en/v1/stdlib/Pkg/in

[2018-10-28 20:45] GunnarFarneback opened #78 "Silencing `setwarmstart!`"
Even with `logLevel=0`, `setwarmstart!` gives an output like this:
[code]
This is clearly coming from within Cbc and isn't Julia's fault, but does anyone have a working method to silence this output? With Suppressor.jl the best I've managed is to delay the output for a short time, but it eventually turns up.
[code]
Interestingly, if allowing one trace output to start with, the ones in the loop are

[2018-11-11 22:30] Plug11 commented on #56
I worked around the build issues on Windows (with help from the above - thanks). However, I now get a runtime Access Violation Exception, see error below (tried on two different machines). Is anyone else experiencing this?

Error:

`Please submit a bug report with steps to reproduce this fault, and any error messages that follow (in their entirety). Thanks.
Exception: EXCEPTION_ACCESS_VIOLATION at

[2018-11-11 22:45] odow commented on #56
@Plug11 can you provide a reproducible example?

[2018-11-14 04:18] mlubin commented on #56
That makes sense. Clp and Cbc both have dependencies in common that are currently provided by different (and possibly conflicting) dlls. The fix is likely to move Cbc to BinaryBuilder. @juan-pablo-vielma has been working on this but ran into technical issues that are blocked by missing functionality in BinaryBuilder.

[2018-11-14 04:28] JockLawrie opened #79 "How to set options with JuMP v0.19.x"
Hi there,

With JuMP v0.18.x and below I can set Cbc options with:
[code]

With JuMP v0.19 (alpha) I try the following and get a method error:
[code]
How do I set options with the `MathOptInterface`?

[2018-11-14 13:19] mlubin commented on #79
Ping @vitornesello

[2018-11-14 20:53] juan-pablo-vielma commented on #56
The missing BB functionality was just added and the windows bug for Clp seems to be resolved, so it looks like I am back on track with the move to BB 🤞

[2018-11-14 22:53] JockLawrie commented on #79
Ah, thanks

[2018-11-16 11:50] Plug11 commented on #56
Great, good to hear we have a solution on the way!

[2018-11-29 17:57] juan-pablo-vielma commented on #56
@Plug11 can please try if these versions of Clp/Cbc work on your system
`(v1.0) pkg> add https://github.com/juan-pablo-vielma/Cbc.jl.git https://github.com/juan-pablo-vielma/Clp.jl.git`

[2018-11-30 14:20] Plug11 commented on #56
Hi @juan-pablo-vielma, thanks very much for this! I installed and ran the test script and it now runs through and gets the result without crashing. I did get some warnings which I post below in case they are of interest.
[code]

[2018-12-06 15:01] ianfiske opened #83 "Cannot install Cbc.jl in julia-1.0.2 official docker image `make install` not found"
Using the official julia:1.0.2 docker image, I'm getting errors that `make install` is not found when attempting to install Cbc.jl:

[code]

This can be reproduced with the minimal Dockerfile:

[code]

and the docker command:

[code]

I first tried using Cbc.jl linked to the debian-included coinor packages, but this led to runtime crashes blamed on "linked lists".  Now, I'm trying to install Cbc.j

[2018-12-06 15:30] ianfiske commented on #83
Trying this manually from a bash shell in the Docker image, outside of Julia, `make install` gives me
[code]
So this doesn't seem to be a Julia problem necessarily, but rather something Cbc-related.

[2018-12-06 15:47] ianfiske commented on #83
Looks like I should have more literally interpreted the error:

[code]

was needed.  The build is progressing now.

[2018-12-06 15:47] #83 closed

[2018-12-07 16:47] Wikunia commented on #41
It prints information about presolve would like to have them turned off as well.

[2018-12-07 20:19] odow commented on #41
Given this is a Cbc option and not a Cbc.jl option, I don't think there is much we can do.

[2018-12-11 08:11] ChrisNabold opened #84 "Installation error"
If I add Cbc for installation I receive the following errors
[CbcInstallError.txt](https://github.com/JuliaOpt/Cbc.jl/files/2666573/CbcInstallError.txt)

[2018-12-11 08:33] blegat commented on #84
Duplicate of https://github.com/JuliaOpt/Cbc.jl/issues/56

[2018-12-11 08:33] #84 closed

[2018-12-14 18:32] ianfiske opened #85 "State of BinaryProvider build"
Just curious about the status of moving to BinaryProvider.  @juan-pablo-vielma, you have https://github.com/juan-pablo-vielma/Cbc.jl/tree/jpv/bbmultigcc and there is no issues tab on that fork, so I'm asking here.  Is that branch an early-stage WIP or close to PR?  I'm wondering because I was going to try to make such a PR until I saw your existing efforts.

[2018-12-15 02:13] juan-pablo-vielma commented on #85
It's pretty close to PR. I am hoping to have all COIN-OR solvers on BP by the end of the year.

[2018-12-16 17:04] ccoffrin opened #86 "Dual Status not Reported"
Calling `dual_status` on this solver from JuMP results in,
[code]

Example code,
[code]

[2018-12-17 16:52] odow opened #88 ""Modernize" the MOI wrapper"
This package needs to be updated to MOI v0.7. In addition, there are a lot of things that should be fixed to keep up with other changes in MOI:
 - [ ] A large amount of the tests are excluded because the MOI wrapper doesn't support names: https://github.com/JuliaOpt/Cbc.jl/blob/master/test/MOIWrapper.jl
- [ ] There are lots of type-stability issues, e.g. https://github.com/JuliaOpt/Cbc.jl/blob/414

[2018-12-28 13:46] #86 closed

[2019-01-03 02:53] #30 closed

[2019-01-03 02:53] #48 closed

[2019-01-03 02:53] #56 closed

[2019-01-03 02:53] #85 closed

[2019-01-03 02:55] mlubin commented on #88
The title is out of date given #91, but the points are still relevant.

[2019-01-03 03:03] odow commented on #30
Woo! Pleased to see this finally resolved.

[2019-01-06 12:20] GunnarFarneback opened #94 "Incorrect solution with warmstart"
I'm getting an incorrect solution when using `setwarmstart!` but correct when not using it. Specifically, running this
[code]
gives the output
[code]
Both solutions are reported as optimal but with different objective values.

Version info:
[code]

[2019-01-10 18:19] 3ch01c opened #95 "error compiling #CbcMathProgModel#2: could not load library "C:\Users\me\.julia\v0.6\WinRPM\deps\usr\x86_64-w64-mingw32\sys-root\mingw\bin\libCbcSolver-3.DLL""
# Problem
When this package is built, it looks like `deps/deps.jl` uses some environment-specific paths (e..g `C:\\Users\\me\\.julia\\v0.6`) to load dependencies.

[code]

This breaks when the package is used in an environment with a different [`JULIA_PKGDIR`](https://github.com/JuliaLang/julia/issues/19988#issuecomment-273255584) path than the environment in which it was built.

# Solution (Sort

[2019-01-10 22:22] odow commented on #95
We no longer support Cbc on Julia 0.6. You should update to Julia 1.0.

[2019-01-11 23:38] chkwon opened #96 "does not support an objective function of type MathOptInterface.SingleVariable."
[code]

produces

[code]

[2019-01-14 01:26] ccoffrin opened #97 "MOI Wrapper, NoSolution not defined"
I tried to build a MWE but was not successful, but maybe the stack trace can provide some hints.

Running the following code with the MOI version of PowerModels,
[code]
Results in the following output,
[code]

[2019-01-14 03:21] #97 closed

[2019-01-25 21:59] GunnarFarneback opened #99 "Crashes on a small integer problem with warmstart"
This is almost certainly an upstream issue, but filing it here in case someone else should run into the same symptoms.

Running the code below crashes almost consistently for me, with a variety of crash modes and the occasional pass. If `setwarmstart!` is removed it passes every time.
[code]
Examples of crashes:
[code]
[code]
[code]
[code]
Most of the time the process becomes unresponsive after th

[2019-01-31 03:08] tkoolen opened #100 "Missing `GC.@preserve`s?"
Cbc.jl doesn't have a single `GC.@preserve` statement, but post-0.6, I really think it should. What's preventing `prob` from being garbage collected in calls like

https://github.com/JuliaOpt/Cbc.jl/blob/220f0fa5d94a4382261e76fc473ec494dd85382a/src/CbcCInterface.jl#L270

?

[2019-01-31 03:14] mlubin commented on #100
Last time I looked into this, I understood that function arguments are safe from GC collection. Has this changed?

[2019-01-31 03:44] tkoolen commented on #100
Sorry, I didn't fully parse your message.

This is definitely not true anymore in >0.6.

[2019-01-31 03:46] tkoolen commented on #100
See e.g. https://discourse.julialang.org/t/properly-using-finalizer-ccall-cconvert-and-unsafe-convert/6183/10?u=tkoolen.

[2019-01-31 03:51] tkoolen commented on #99
Could you try

[code]

at the REPL and run your code again?

[2019-01-31 03:58] mlubin commented on #99
@tkoolen this crash was reproduced in C at https://github.com/coin-or/Cbc/issues/127 so I'm not sure it's related.

[2019-01-31 04:15] tkoolen commented on #100
Maybe you read https://discourse.julialang.org/t/julia-v0-6-vs-v0-7-gc-behaviour/10002/6, but if that's still accurate, it's precedented on `@noinline`.

[2019-01-31 04:31] tkoolen commented on #99
OK, thanks.

[2019-01-31 07:48] leethargo commented on #100
I have not read all the links completely, but are you worried that `prob` will be GC'ed during, after, or even because of the call to `solve`, even though `prob` is still referenced in some outer scope?

[2019-01-31 08:34] tkoolen commented on #100
A problem is that `prob::CbcModel` might actually *not* be referenced anymore in some outer scope after one of the `Cbc` function calls, at least not in any GC-visible way, which as of right now allows Julia to potentially run the `CbcModel` finalizer *before* the `ccall`, and the `ccall`s expect `prob.p` to be a valid pointer.

[2019-01-31 08:51] leethargo commented on #100
Thanks for the clarification. I still can not imagine a scenario where this reference to `prob` is missing or "invisible", but I will read through the links in detail now.

[2019-01-31 16:47] #100 closed

[2019-01-31 18:54] GunnarFarneback commented on #99
Yes, there are definitely bad things going on within the Cbc library, unrelated to the Julia wrapping.

[2019-02-04 22:10] odow opened #102 "MOI is slow querying solution information"
As reported by @ndinsmore in https://github.com/JuliaOpt/JuMP.jl/issues/1826, CBC is very slow querying the primal solution:

[code]

Culprit is
https://github.com/JuliaOpt/Cbc.jl/blob/489db0680e71c6ce4f61b991afb1241864923d24/src/MOI_wrapper.jl#L347-L352

[2019-02-05 01:49] odow commented on #95
Closing as stale. Please re-open if you have trouble installing Cbc on Julia 1.0.

[2019-02-05 01:49] #95 closed

[2019-02-05 01:51] odow commented on #31
Closing as stale. Please re-open if this is still a problem and you have a reproducible example.

[2019-02-05 01:51] #31 closed

[2019-02-05 01:55] odow commented on #99
Can this be closed since it isn't an issue with the Julia wrapper and has been filed upstream?

[2019-02-05 01:57] odow commented on #94
Can this be closed since it has been reproduced upstream?

[2019-02-05 02:01] odow commented on #36
Closing since the default Cbc install is now 2.9.9. Please re-open if you can still reproduce the failures.

[2019-02-05 02:01] #36 closed

[2019-02-08 23:35] mlubin opened #106 "Tests are failing"
https://travis-ci.org/JuliaOpt/Cbc.jl/jobs/490566196#L706

Likely due to the MOI 0.8.2 tag.

[2019-02-09 10:00] blegat commented on #106
Yes a  UniversalFallback should be used

[2019-02-12 21:03] odow commented on #102
Closed by #105

[2019-02-12 21:03] #102 closed

[2019-02-12 21:29] #96 closed

[2019-02-12 21:29] #106 closed

[2019-02-12 21:29] #79 closed

[2019-02-12 21:30] odow commented on #88
Closed by #108.

[2019-02-12 21:30] #88 closed

[2019-02-13 14:54] ndinsmore opened #110 "Update MOI Interface to use LinQuadOptInterface"
Sould Cbc be updated to use LinQuadOptInterface for it's MOI Interface?   It looks like it could leverage  alot of what Clp.jl has done and would make maintaining and upgrading both easier.

Has this already been discussed?

[2019-02-13 14:59] odow commented on #55
This functionality doesn't exist in the current C Interface: https://github.com/coin-or/Cbc/blob/master/Cbc/src/Cbc_C_Interface.h

[2019-02-13 15:02] mlubin commented on #110
What are the current maintenance issues with the Cbc MOI wrapper and how would they be addressed by using LinQuadOptInterface? IMO using LinQuadOptInterface should not be the preferred choice for interfaces because it adds another layer between JuMP and the solver that's not as well documented as plain MOI.

[2019-02-13 15:05] odow commented on #110
LinQuadOptInterface assumes that variables and constraints can be added on-demand. The Cbc C interface ([until recently](https://github.com/coin-or/Cbc/commit/fe86269e0452e3abed57c65722ef0e49ae29169b)) requires everything at once.

[2019-02-13 16:44] matbesancon commented on #55
ok then, should we close this?

[2019-02-13 16:44] #55 closed

[2019-02-13 17:19] ndinsmore commented on #110
I wouldn't say that there are any maintenance issues per se.  But in looking at capabilities CBC ~= GLPK, so while trying to figure out what it would take to add dual capability to Cbc, I was looking at GLPK and Clp both of which use LQOI.   Cbc has actually modeled it's interface after CLP so I thought I would ask.

[2019-02-13 17:26] mlubin commented on #110
Supporting duals means implementing the [ConstraintDual](http://www.juliaopt.org/MathOptInterface.jl/stable/apireference/#MathOptInterface.ConstraintDual) attribute. That's about it.

[2019-02-19 17:11] juan-pablo-vielma opened #112 "Add a test for multi-threaded solves"
cf. JuliaOpt/CbcBuilder#1

[2019-03-10 17:42] GunnarFarneback commented on #99
This may now have a fix in upstream master. I will try it out to see if it works fine from Julia.

However, the 2.10.0 release of Cbc from 2019-02-23, adds a new `Cbc_setMIPStart` function to the C interface, which should maybe be investigated as an alternative way to implement Julia's warmstart.

[2019-06-28 00:56] mlubin commented on #94
Upstream claims this is fixed.

[2019-06-28 00:56] #94 closed

[2019-06-28 00:57] mlubin commented on #62
We use BinaryBuilder now.

[2019-06-28 00:57] #62 closed

[2019-06-28 00:58] mlubin commented on #99
PRs or new issues welcome :)

[2019-06-28 00:58] #99 closed

[2019-06-28 01:00] mlubin commented on #110
We don't plan to rewrite the interface to LQOI. Both Gurobi and GLPK are moving away from LQOI.

[2019-06-28 01:00] #110 closed

[2019-06-28 01:01] mlubin commented on #78
As you mentioned, there doesn't appear to be anything for us to do on the wrapper side. Please direct issues like these to the Cbc authors.

[2019-06-28 01:01] #78 closed

[2019-06-28 01:04] mlubin opened #114 "Support VariablePrimalStart"

[2019-07-01 19:57] GunnarFarneback opened #117 "Upgrade Cbc version"
Please upgrade the Cbc version to 2.10.3 (or later) so that Cbc.jl can take advantage of the upstream fixes for #94 and #99.

[2019-08-06 07:55] matbesancon opened #119 "Add SOS1/2 to MOI wrapper"
It is in the MPB wrapper but not MOI yet

[2019-08-08 21:21] DrChainsaw opened #122 "Cbc backend returns primal status feasible for infeasible problem"
Sorry if this is the wrong place for this.

MWE with a constraint that 10 binary variables shall add up to 11:

[code]

Also sorry if this is intended/unavoidable behaviour or if I'm just misinformed (not very experienced with optimization).

For the real problem I am interested in a feasible solution even though it is not optimal so I ran into the issue because I only checked the primal status.

[2019-08-09 14:06] mlubin commented on #122
This indeed appears to be a bug.

[2019-08-09 14:44] blegat commented on #122
The `if` and `elseif` might need to be swapped here:
https://github.com/JuliaOpt/Cbc.jl/blob/17e0bd7b1e7f309eebf0426a00cfad7153cf3bf3/src/MOI_wrapper.jl#L536-L540

[2019-08-13 17:06] GunnarFarneback commented on #117
What is the procedure to perform an upstream upgrade? Is there some way I can assist? Would a PR to CbcBuilder that bumps some version numbers be at all helpful?

cc: @juan-pablo-vielma

[2019-08-13 19:52] mlubin commented on #117
@juan-pablo-vielma, could you document how to update the BinaryBuilder binaries? This will be a recurring question.

[2019-08-25 11:13] blegat opened #124 "Support SolveTime"
See https://www.juliaopt.org/MathOptInterface.jl/v0.9.1/apireference/#MathOptInterface.SolveTime

[2019-08-25 11:27] blegat opened #125 "Determine supported parameters"
See https://github.com/JuliaOpt/Cbc.jl/blob/e10628f91b7b357c48dbf92e1447df5feca598e9/src/MOI_wrapper.jl#L34-L38

[2019-09-03 05:55] GunnarFarneback commented on #117
Bump.

[2019-09-05 19:40] juan-pablo-vielma commented on #117
@GunnarFarneback I added 2.10.3, but it's failing the tests. Any thoughts on why it's failing are welcome. You can try it with `] add https://github.com/juan-pablo-vielma/Cbc.jl.git#jpv/bb-v2.10.3`

@mlubin For COIN the upgrade procedure is currently a mess and somewhat of an "art" 🙂 To get it to compile I had to update several of the dependencies and ARM builds with gcc 4 still didn't work. We sh

[2019-09-17 16:47] GunnarFarneback commented on #117
I've reduced one of the failures to
[code]
where the last call returns -1.7976931348623157e308 instead of the expected 3.0.

[2019-10-02 14:37] juan-pablo-vielma commented on #117
Yes, looks like the problem is on `getBestPossibleObjValue`.

With v2.10.3, running the following continuous model:
[code]
yields
[code]
However, running the following version with a dummy integer variable
[code]
yields
[code]
I believe that `-1.7976931348623157e308` is equal to `COIN_DBL_MAX`, so the output seems to suggest that, in v2.10.3, Cbc is not even called when there are no integer variab

[2019-10-05 18:23] juan-pablo-vielma commented on #117
Ok, I updated the version you can add through `] add https://github.com/juan-pablo-vielma/Cbc.jl.git#jpv/bb-v2.10.3` and it seems to be working.

Besides the bestBound issue (coin-or/Cbc#267) there is a problem with statuses in v2.10.3 that may be better to fix in Cbc#master so it may take some time. In the mean time, I made a simple patch that seems to make it work. The patch just removes an opti

[2019-10-06 21:04] GunnarFarneback commented on #117
Yes, this works fine with the #94 and #99 problems.

[2019-10-09 19:58] juan-pablo-vielma commented on #117
Ok, I created a self-contained binary_builder.jl that should be easier to update.

@GunnarFarneback could you please double check `https://github.com/juan-pablo-vielma/Cbc.jl.git#jpv/bb-v2.10.3 ` one last time, just in case.

@mlubin could you please check the update instructions in https://github.com/JuliaOpt/CbcBuilder/blob/master/build_tarballs.jl

Once #126 gets merged (need this for tests to

[2019-10-09 20:53] GunnarFarneback commented on #117
Yes, still looks good.

[2019-10-11 14:27] mlubin commented on #117
Minor comments on `build_tarballs.jl`:

https://github.com/JuliaOpt/CbcBuilder/blob/800a31dfa10d5ad1872770851fe3ce607ef3c981/build_tarballs.jl#L7-L9

"Modify the build script" could be "Modify the build script (e.g., changing START-EASY-CHANGE-BLOCK)"

https://github.com/JuliaOpt/CbcBuilder/blob/800a31dfa10d5ad1872770851fe3ce607ef3c981/build_tarballs.jl#L16

"[ test Cbc" should be "] test Cbc"

ht

[2019-10-13 20:30] juan-pablo-vielma commented on #117
I refined the update instructions in `build_tarballs.jl` and added PR #127 to upgrade Cbc to v2.10.3

[2019-10-27 12:30] GunnarFarneback commented on #114
Cf #128. With `setMIPStartI` partial solutions can be entered and Cbc handles infeasible warmstart gracefully.

[2019-10-28 07:15] agcmoser commented on #117
For what it's worth: I recently tested the latest Cbc.jl package on ARM (RaspberryPi 4) and for some MILP problems Cbc just totally crashed my Julia application. I built Cbc from source myself (2.10.3) and added set the JULIA_CBC_LIBRARY_PATH and rebuild Cbc.jl --> No sudden crashes anymore. The pre-compiled binarys for ARMv7 seems to have some problems. Output from uname -a is "Linux raspberrypi

[2019-10-29 18:28] juan-pablo-vielma commented on #117
@agcmoser did the previous version run ok? Can you send me the output during the failure of the current version?

[2019-10-30 09:20] agcmoser commented on #117
@juan-pablo-vielma : this is the error output:

[ Info: Optimizing   time step: t[k] := 2018-01-24T14:15:00
--
┌ Warning:   MathOptInterface.VariablePrimalStart() is not supported by   MathOptInterface.Bridges.LazyBridgeOptimizer{MathOptInterface.Utilities.CachingOptimizer{Cbc.Optimizer,MathOptInterface.Utilities.UniversalFallback{MathOptInterface.Utilities.Model{Float64}}}}.   This
│     informat

[2019-11-24 13:53] Wedg commented on #125
When I try to find the list of parameters by running the cbc executable (which I find inside deps\usr\bin) I get the following "`cbc.exe - System Error`":
"`The code execution cannot proceed because libgcc_s_seh-1.dll was not found. Reinstalling the program may fix this problem.`"
And this repeats for `libgfortran-3.dll` and `libstdc++-6.dll`
![cbc](https://user-images.githubusercontent.com/873569

[2019-11-24 16:21] GunnarFarneback commented on #114
I believe this is solved between #128 and #129.

[2019-11-24 21:42] odow commented on #125
See https://projects.coin-or.org/CoinBinary/export/1059/OptimizationSuite/trunk/Installer/files/doc/cbcCommandLine.pdf

[2019-11-27 13:40] matbesancon commented on #119
This seems to have been fixed

[2019-11-27 13:40] #119 closed

[2020-03-05 10:29] Wikunia commented on #124
Would it be sufficient to add a field `solveTime`  here: https://github.com/JuliaOpt/Cbc.jl/blob/45323a2c6af92c1b15dc250c0b2dc466d17b3992/src/MOI_wrapper.jl#L10
And measure the time here: https://github.com/JuliaOpt/Cbc.jl/blob/master/src/MOI_wrapper.jl#L538
using `time()` ?

[2020-03-05 11:10] blegat commented on #124
The issue with this approach is that it may include some of Julia compilation time. It might be the only solution though if Cbc does not provide this info

[2020-04-22 21:20] #117 closed

[2020-04-30 23:59] lausilvag commented on #125
Hi
I am trying to set parameters for Cbc Solver

Z_OP = Model(with_optimizer(Cbc.Optimizer))
    set_parameter(Z_OP, "preProcess", off)
    set_parameter(Z_OP, "CliqueCuts", Root)
error:
UndefVarError: Off not defined
UndefVarError: Root not defined

Does anyone know how to fix the error and where can I find updated information on the command lines?

Thank you

[2020-04-30 23:59] lausilvag opened #135 "How to set Cbc Parameters"
Hi
I am trying to set parameters for Cbc Solver

Z_OP = Model(with_optimizer(Cbc.Optimizer))
    set_parameter(Z_OP, "preProcess", off)
    set_parameter(Z_OP, "CliqueCuts", Root)
error:
UndefVarError: Off not defined
UndefVarError: Root not defined

Does anyone know how to fix the error and where can I find updated information on the command lines?

Thank you

[2020-05-01 02:35] odow commented on #135
Answered on Discourse: https://discourse.julialang.org/t/how-to-set-cbc-parameters/38516/3

Let's keep the discussion on Discourse if you have follow-up questions.

[2020-05-01 02:35] #135 closed

[2020-05-09 19:33] #114 closed

[2020-05-10 19:30] odow commented on #41
Closing since I'm not sure there is anything actionable to do here on the Cbc.jl side.

[2020-05-10 19:30] #41 closed

[2020-05-11 13:15] #122 closed

[2020-05-11 13:15] #124 closed

[2020-05-12 08:32] ohmsweetohm1 opened #138 "Accessing SolveTime does not work"
Retrieving the `SolveTime` works for e.g. `Gurobi` or `GLPK` like:

[code]

[code]
however, not for `Cbc`:

[code]

[2020-05-12 10:19] blegat commented on #138
You should now be available in the v0.7 just release 11 hours ago.
See https://github.com/JuliaOpt/Cbc.jl/issues/124

[2020-05-12 14:45] odow commented on #138
Can confirm this works on latest release.

[2020-05-12 14:45] #138 closed

[2020-06-25 21:54] DrChainsaw opened #141 "Wrong result with small values in objective"
Sorry if this is a documented/obvious/inevitable restriction.

[code]
 The objective value printout makes it seem like CBC itself does not produce the right result, but on the line after the command line echo it seems like it is computing the correct output.

Using `eps(Float32)` works, but `eps(Float32)/2` fails as well.

Fwiw I got correct results with GLPK, so the issue does not seem to stem fr

[2020-06-26 13:02] odow commented on #141
This is expected behavior.

Solvers use floating point arithmetic with tolerances that are typically `1e-6`. Most solvers have a cut off where the consider coefficients smaller than some number to be zero. See https://www.gurobi.com/documentation/9.0/refman/num_grb_tolerances_and_the.html

You should resale your problem to coefficients between `1e-3` and 1e8` (or even smaller, if possible!)

[2020-06-26 20:18] DrChainsaw commented on #141
Thanks for the explanation and link. I figured it was something like this.

[2020-06-26 20:18] #141 closed

[2020-09-11 08:27] GregPlowman opened #144 "New release"
Can a new release be made for Cbc?

Unfortunately it seems we're playing whack-a-mole with versioning.
The recent `Clp` upgrade caused `Cbc` to downgrade from `0.7.0` to `0.6.7`
I think this is indirectly because `CEnum 0.4` is not allowed on `Cbc 0.7.0`, but has already been updated on `Cbc` master.

[2020-09-13 21:24] odow commented on #144
Yes, I understand the frustration. We hope to have an announcement in the near future that should significantly alleviate these issues.

[2020-09-13 22:01] odow commented on #144
Closed by https://github.com/JuliaRegistries/General/pull/21333

[2020-09-13 22:01] #144 closed

[2020-11-24 23:04] odow commented on #125
You need:
[code]

[2021-02-12 14:44] blegat opened #151 "SOS constraints without integer variables"
I tried enabling indicator tests:
https://github.com/jump-dev/Cbc.jl/blob/01ee423efa84f3cad38e4973b5f578915c69e181/test/MOI_wrapper.jl#L77
but it fails as Cbc believes the problem to be unbounded. The indicator constraints are bridged by the [IndicatorSOS1Bridge](https://jump.dev/MathOptInterface.jl/v0.9.19/apireference/#MathOptInterface.Bridges.Constraint.IndicatorSOS1Bridge) into SOS1 constraint

[2021-03-02 06:29] Dx-Wang opened #152 "Possible to add support for 'devel' version of Cbc?"
When I try to use Cbc.jl with the Cbc solver built from the master branch, the precompiling gives me the following errors
[code]
Is it possible to use Cbc.jl with the 'devel' version of Cbc? Thanks in advance!

[2021-03-02 06:48] odow commented on #152
You could make a PR here with a check if the string is `devel`:
https://github.com/jump-dev/Cbc.jl/blob/01ee423efa84f3cad38e4973b5f578915c69e181/src/Cbc.jl#L24-L39
Are there differences in the C API?

[2021-03-03 02:07] Dx-Wang commented on #152
No. The API doesn't seem to have changed.

[2021-03-03 02:11] #152 closed

[2021-03-08 20:45] Dx-Wang opened #154 "Cbc_status only available for MIP models"
I got the following errors when solving an LP (no integer variable) with Cbc. The errors arose when I try to get the value of the variables *after* the problem is solved. I can use Clp instead, but is this a bug?

[code]
Thanks!

[2021-03-08 21:05] odow commented on #154
Please provide a reproducible example.

[2021-03-09 01:18] Dx-Wang commented on #154
Yes. I got this error with the `devel` version of Cbc. Let me try if this occurs with `v2.10.5` or `v2.10.3`.

[2021-03-09 02:20] odow commented on #154
We distribute binaries for 2.10.3. There is no guarantee of support for anything else.

[2021-03-09 02:27] odow commented on #154
I've started the process of updating to 2.10.5: https://github.com/JuliaPackaging/Yggdrasil/pull/2661

It would be useful to post a reproducible example, or add it to the test suite so we can check if it happen in future. I assume at some point it will be part of a released Cbc version.

[2021-03-09 06:08] Dx-Wang commented on #154
The issue also exists for 2.10.5. I'd expect it would happen to any LP. Here is an example [example.txt](https://github.com/jump-dev/Cbc.jl/files/6106225/example.txt)

Log:
[code]

[2021-03-09 06:29] Dx-Wang commented on #154
It works fine for 2.10.3.

[2021-03-09 08:26] odow opened #156 "Update to Cbc_jll@2.10.5"
x-ref https://github.com/JuliaPackaging/Yggdrasil/pull/2661

[2021-03-09 19:56] odow commented on #154
`optimize!` does not return a status like that.

This works fine for me on 2.10.5. How did you build yours?
[code]

[2021-03-10 01:35] #156 closed

[2021-03-10 02:05] #154 closed

[2021-03-10 02:05] odow commented on #154
@Dx-Wang try the latest `master`. I merged since it seems like the correct thing to do in more cases.

[2021-03-11 23:01] Dx-Wang commented on #154
Thanks, Oscar! The `Cbc_status` error seems to be gone for the latest `master` , but there are related errors when calling `value` on `x`.

[code]

[2021-03-11 23:44] odow commented on #154
See #160 for the fixes.

On Fri, 12 Mar 2021, 12:01 PM Dexin Wang, ***@***.***> wrote:

[2021-03-16 03:41] JuliaTagBot opened #164 "TagBot trigger issue"
This issue is used to trigger TagBot; feel free to unsubscribe.

If you haven't already, you should update your `TagBot.yml` to include issue comment triggers.
Please see [this post on Discourse](https://discourse.julialang.org/t/ann-required-updates-to-tagbot-yml/49249) for instructions and more details.

If you'd like for me to do this for you, comment `TagBot fix` on this issue.
I'll open a PR

[2021-03-16 03:41] #164 closed

[2021-03-19 19:25] lovasoa commented on #30
Has the underlying issue in cbc been fixed ? I hit the same error while investigating https://github.com/coin-or/Cbc/issues/376

[2021-03-19 19:35] mlubin commented on #30
@lovasoa Are you sure you're in the right place? Your comment https://github.com/coin-or/Cbc/issues/376#issuecomment-802999074 says you're using a Rust interface. This is the Julia interface.

[2021-03-19 19:37] mlubin commented on #30
(And no, I don't know that the underlying issue is solved. We worked around it by disabling assertions in our binaries.)

[2021-03-19 19:38] lovasoa commented on #30
Yes, I'm talking about the underlying bug in cbc itself. I was asking if anyone here knew whether the bug in cbc had been fixed, or if it had at least been reported ?

[2021-03-19 19:40] lovasoa commented on #30
In the best case, the assertion itself is wrong, but in the worst case, the assertion is correct and there is a bug elsewhere, in which case disabling assertions may be unsafe, potentially causing a memory corruption and a security vulnerability...

[2021-03-19 19:44] mlubin commented on #30
My apologies, no, it's not fixed nor reported to my knowledge, although my knowledge is from 2015.

[2021-03-30 00:49] kahemchu commented on #151
Hi,

Currently I face this issue, the optimizer works fine to find the optimal decision variables and optimal value, but not able to find the slack / dual value. Maybe relate to this issue?

`ArgumentError: ModelLike of type Cbc.Optimizer does not support accessing the attribute MathOptInterface.ConstraintDual(1)

Stacktrace:
  [1] get_fallback(model::Cbc.Optimizer, attr::MathOptInterface.Constrai

[2021-03-30 03:57] odow commented on #151
This is unrelated. Cbc does not compute dual variables. Use a solver that does, like Clp instead. Use `has_duals(model)` to check if a solver found a dual solution. JuMP documentation: https://jump.dev/JuMP.jl/dev/manual/solutions/#Dual-solutions

[2021-04-08 07:02] ohmsweetohm1 opened #165 "EXCEPTION_ACCESS_VIOLATION"
Got this:

[code]

Unfortunately I can not share the code to reproduce it.

[2021-04-08 07:13] ohmsweetohm1 commented on #165
with `[9961bab8] Cbc v0.8.0` and
[code]

[2021-04-08 07:29] ohmsweetohm1 commented on #165
Also tested it on
[code]
no problem!

[2021-04-08 09:37] odow commented on #165
This looks like a bug inside Cbc.

Does it happen if you write the MPS file?
[code]
If so, please share that. We can't do anything without a reproducible example.

[2021-04-15 09:14] odow commented on #165
Any update? Otherwise I will close as non-reproducible.

[2021-04-15 12:33] ohmsweetohm1 commented on #165
Sry, I can not reproduce it myself anymore.

[2021-04-15 12:33] #165 closed

[2021-05-25 22:41] jd-lara opened #168 "Cbc ignores set_silent when model is an LP"
Cbc ignores the outcome of `set_silent` when the model is an LP. I guess this is because the attribute isn't passed to CLP.

MWE:

[code]

[2021-05-25 23:10] odow commented on #168
This is an upstream issue.

[2021-06-04 17:34] xuqingyu opened #170 "JuMP cannot fix variable values from cbc solutions: LoadError: JuMP.OptimizeNotCalled()"
Dear Cbc team,
Thank you for reading!
We are facing an error thrown by JuMP while solving MILP using Cbc and we are hoping to get your help!
Here is the error description. We solved a MILP and we want to fix the values of integer variables and resolve the problem as an LP. To finish the job, we did: (the the model name is EP)
[code]
The code will throw an error like the following:
`MILP solved for

[2021-06-04 19:02] blegat commented on #170
See the warning in https://jump.dev/JuMP.jl/stable/manual/solutions/#Recommended-workflow.
Once you call `unset_binary` or `unset_integer`, the problem has changed hence the solution of the solver is not valid anymore and you need to resolve to get a new solution so when you call `value`, it throws `OptimizerNotCalled`.
You should get all the values you need first and store them in some way and th

[2021-06-04 19:04] xuqingyu commented on #170
Thank you! But when we use gurobi, there is no problem at all using the same process, so can I say this issue is cbc specific?

[2021-06-04 19:22] xuqingyu commented on #170
Dear Blegat,
Thanks for your reply. We reversed the order of the code, but the code still failed at the fixing variable stage.
[code]

[2021-06-04 20:13] xuqingyu commented on #170
@blegat Dear Benoît, a quick update. This does not work either.
[code]

[2021-06-05 13:36] blegat commented on #170
As written in the docs: https://jump.dev/JuMP.jl/stable/manual/solutions/#Recommended-workflow
This is undefined behavior.

You should query all values first like
[code]

[2021-06-07 18:06] xuqingyu commented on #170
@blegat Dear Benoît, thanks for your advice. We followed it with a little modification and it works. Please see the functional code below.
[code]

[2021-06-07 18:06] #170 closed

[2021-07-12 21:22] mjyshin opened #171 "Attributes are ignored with JuMP"
I wanted to set some solver attributes using JuMP, e.g.,
[code]
which wasn't working. Then I noticed that the Cbc wrapper in JuMP seems to be ignoring every attribute I try. For instance, even something ridiculous like `set_optimizer_attributes(model,"blah"=>-π)` doesn't throw an error. Is there a known solution to this? I was hoping to set verbosity and presolve off, but I'm not sure if that's ev

[2021-07-12 21:45] odow commented on #171
The logLevel issue is: https://github.com/jump-dev/Cbc.jl/issues/168. This is a bug in Cbc for LPs.

The `"blah"` issue is that there is no way for Julia to know the supported parameters of Cbc: https://github.com/jump-dev/Cbc.jl/issues/125. We just pass whatever you tell us.

Cbc should be respecting your presolve setting however.

[2021-07-13 16:10] mjyshin commented on #171
I've tried a bunch of different combinations of `"Preprocess"`, `"preProcess"`, `"PrepChoice"`, `"presolve"`, `"Presolve"`, `"preSolve"`, etc. and 0, "off", "0", etc., but none seems to turn off the presolve off. Also, if the attributes are indeed passed, shouldn't `"logLevel"=>0` keep Cbc from from printing to screen?

[2021-07-13 20:13] odow commented on #171
As linked about (#168), there is a bug in Cbc. It ignores the logLevel option when solving LPs:
[code]

`presolve` also works.

[code]

The README explains how to check what options do what: https://github.com/jump-dev/Cbc.jl#options

[2021-08-16 20:09] DrChainsaw opened #172 "MOI is slow querying solution information again"
I'm getting the same slow performance as in #102 on Cbc 0.8.1 (I'm pretty sure that it was on 0.8.0 too).

[code]

[2021-08-16 20:56] odow commented on #171
Closing as a duplicate of #125 and #168

[2021-08-16 20:56] #171 closed

[2021-08-16 21:12] odow commented on #172
Looks like this is an upstream change in Cbc. Before `Cbc_getColSolution` used to return a pointer to the solution vector without making a copy. But now it takes much longer, so I guess it is making an internal copy? Seems safer, but slower. We probably need to refactor the solution query stuff to cache the solution once, rather than looking it up every time. PRs accepted.

[code]

## Before

[cod

[2021-08-16 21:33] DrChainsaw commented on #172
I'd be happy to do some grunt work for this, especially given how much mileage I have gotten out of this package. Unfortunately I don't know much of the MOI-wrapping stuff, but if it is just a matter of porting #103 I think I can manage.

Would it be better to have a lazier cache which only populates once user queries the first variable, or are there risks associated with that?

[2021-08-16 21:44] odow commented on #172
HiGHS.jl does something similar.

There is a solution struct:
https://github.com/jump-dev/HiGHS.jl/blob/eb4cf3c509dc8be4ee952b7a7e56b283b7aeb9d1/src/MOI_wrapper.jl#L239-L273

Then the solution gets stored after `optimize!`
https://github.com/jump-dev/HiGHS.jl/blob/eb4cf3c509dc8be4ee952b7a7e56b283b7aeb9d1/src/MOI_wrapper.jl#L1553-L1602

So when we query, it just happens here:
https://github.com/jum

[2021-08-16 21:51] odow commented on #172
Ah. I didn't look at #103. Yes, porting that + `getRowActivity` should do the job.

[2021-08-16 21:52] DrChainsaw commented on #172
Awesome! Its getting late over here, but I'll take a stab at it tomorrow. Don't let me hold you back if you just want to get it in asap.

[2021-08-17 23:29] odow commented on #172
## Script

[code]

### Cbc_jll@2.10.3

[code]

### Cbc_jll v2.10.5

[code]

That's a 1000x slowdown!

The main change was here: https://github.com/JuliaPackaging/Yggdrasil/pull/2668. We remove a patch that forwarded LPs straight to Cbc. It seems like `Cbc_getNumIntegers` is slow...

cc @tkralphs is this a known issue?

[2021-08-18 02:13] tkralphs commented on #172
Not that I know of. Looks like it might take some digging to get to the bottom of this.

[2021-09-08 13:52] bertrandhaut opened #174 "Typo in readme.md"
In the options section of the readme.md you wrote

it should be read as

[2021-09-15 19:00] freemin7 opened #175 "CBC ignores attempts to silence it."
Dependencies:
[code]
Code
[code]
This outputs:
[code]
when i only expected the last line.

[2021-09-15 22:57] odow commented on #175
Closing as duplicate of #168

[2021-09-15 22:57] #175 closed

[2021-09-15 23:53] #174 closed

[2021-09-15 23:53] odow commented on #174
Thanks

[2021-09-21 15:56] junglegobs commented on #172
Is there any progress on this front?

[2021-09-21 23:26] odow commented on #172
We started #173, but I haven't had time to come back to this.

[2021-09-30 09:39] S-Inako opened #177 "Approximation error when querying solution"
Hi
I've been playing around with MILP and when trying to solve the knapsack problem using Cbc I encountered suboptimal solutions
It may be an error in my code, a parameter which I should have specified or a real issue (maybe I should report it on the Cbc github page, please bear with me I'm new here).

Here is a MWE
[code]

JuMP v0.21.10, Cbc v0.8.1

It should be noted that optimal solutions are f

[2021-09-30 10:02] Inakoala commented on #177
So this may be a short issue

I was running this code in a Pluto notebook so I didn't see the solver output, which indicates an objective value of 108 (optimal).

The problem is due to numerical approximation I guess, as the solution vector before filtering is `[1.0, 0.0, 0.0, 0.9999999999999999, 1.0]`.

Now as I specified the solution vector to be binary I guessed any approximation made during th

[2021-09-30 21:05] odow commented on #177
Closing because this is expected behavior. All solvers (not just Cbc) only find solutions to a tolerance, typically ~1e-6.

Gurobi has a good set of articles if this is new to you:
https://www.gurobi.com/documentation/9.0/refman/num_tolerances_and_user_sc.html

[2021-09-30 21:05] #177 closed

[2021-10-10 09:58] SabineAuer commented on #172
I am also interested in this issue. Is there any previous version where this issue does not appear yet?

[2021-10-10 21:54] odow commented on #172
In the near term, try `] add Cbc@0.7`, or use HiGHS.jl instead.

[2021-11-04 19:31] #172 closed

[2021-11-04 19:41] odow commented on #125
Closing because this doesn't seem like it will happen anytime soon. The README now documents how to use `Cbc_jll` to view the list of supported parameters.

[2021-11-04 19:41] #125 closed

[2021-11-10 09:09] andreasnoack opened #182 "Bump minimum requirement for Julia to stop depending on BinaryProvider"
The dependence on BinaryProvider is causing issues, see PumasAI/PumasSystemImages.jl#52, and a new long term support version of Julia has been announced, so it would be great if you could consider dropping the BinaryProvider dependency.

[2021-11-10 09:15] andreasnoack commented on #182
I now realize that more recent versions, you only load BinaryProvider for old Julia versions.

[2021-11-10 09:15] #182 closed

[2021-11-10 21:11] DrChainsaw opened #183 "Multiple SOS1 constraints causes segfault"
Tested on 0.9.0 and master. Does not crash on 0.8.1.

Not sure this is the minimum required, but hopefully its small enough to work with:
[code]

Its not fully deterministic, but happens in about 80% of cases for me and when it crashes it does so at slightly different times. Here is one example:

[code]
Note that it crashes without any error message, but the exit code is some kind of access violat

[2021-11-10 21:39] odow commented on #183
I managed to trigger it on Mac:
[code]

For contrast, here's a successful solve:
[code]

[2021-12-01 05:46] jd-lara commented on #183
@odow I can report to get the same issue in PowerSimulations.jl in the tests of SOS cost functions.

[2021-12-01 19:45] odow commented on #183
Does https://github.com/jump-dev/Cbc.jl/pull/184 fix it? I forgot about this PR.

[2021-12-01 20:22] jd-lara commented on #183
Haven't tried with this PR but also master is giving a different result in the tests and it isn't consistent with the results from SCIP. Need to test more

[2021-12-01 21:13] odow commented on #183
Closed by #184. There are known issues with SOS and Cbc.

[2021-12-01 21:14] #183 closed

[2021-12-03 05:02] jd-lara commented on #183
@odow we are still observing this issue in PowerSimulations testing. I had to comment out the tests because it happens in CI but not locally in MacOS

[2022-01-18 22:55] burchds opened #186 "Cannot use "threads" parameter without crashing"
I have been using JuMP and Cbc for a couple of years now. It's fantastic. However, I recently upgraded to the latest version of Julia and latest version of JuMP and Cbc. After upgrading my models would not run. In fact, Julia would just crash every time.

I am using the following packages on Julia 1.7.1 (current stable release). **{edit: Hardware is AMD 3900x CPU, mentioning in case it's a problem

[2022-02-13 21:58] lassepe opened #187 "Providing custom start value causes double free"
When I provide a custom start value for some of my variables via JuMP; e.g. with

[code]
The solver hangs and seems to crash with error:
[code]

[2022-02-13 22:27] odow commented on #187
This syntax is not valid JuMP:
[code]
Please provide a reproducible example.

[2022-02-13 22:32] odow commented on #186
I can't reproduce this:
[code]

How are you starting Julia? What is `versioninfo()`? Are you running any things in parallel?

[2022-02-14 21:41] lassepe commented on #187
Hi @odow,

Sorry, I was moving a bit too quickly last night when I filed the issue. I've edited the description to include an MWE that reliable reproduces the issue reported above

[2022-02-14 22:00] odow commented on #187
Still not reproducible unfortunately:
[code]
What versions are you running? What is `versioninfo()`? What is the full error message?

However, you're better off formulating this as a MILP directly:
[code]

[2022-02-14 22:50] lassepe commented on #187
I'm on Julia 1.7 and Cbc master:

[code]

[2022-02-14 22:51] lassepe commented on #187
Also, thank you for your suggestion regarding the MILP formulation. The problem that I actually want to solve is a bit different and is not amenable to this kind of reformulation though. I was just simplifying things for the sake of this MWE.

[2022-02-14 22:59] odow commented on #187
What is the full error message?

[2022-02-14 23:05] lassepe commented on #187
This is the output that I get from the example above:

[code]

[2022-02-14 23:14] odow commented on #187
Can you save this to a file called `bug.mps`
[code]
and then run
[code]

This looks like an internal issue in Cbc, so the likelihood of getting something fixed is small. I suggest you use a different solver that supports indicator constraints directly like Gurobi.

[2022-02-14 23:26] lassepe commented on #187
The test case via the `bug.mps` that you posted above passes without errors.

Thank you for pointing me to Gurobi. I already made the switch to that earlier today and was able to encode my problem there so for me this is not a time-critical bug right now.

[2022-02-14 23:30] odow commented on #187
I don't know then. It's pretty much impossible to debug if we can't reproduce.

Can you simplify the problem any future?

What is `] st -m`?

[2022-02-14 23:43] lassepe commented on #187
I tried to reduce the problem further and this seems to be the smallest instance where it happens:

[code]

Interestingly, the issue disappears in this example if I be a single-element-container or a scalar.
The full manifest status is the following:

[code]

[2022-02-14 23:48] odow commented on #187
We have the same exact set of packages, including binary dependencies, so it looks like this is specific to your AMD processor. I'd just move on to Gurobi.

[2022-02-14 23:55] lassepe commented on #187
Okay, sounds good. Thank you for your help debugging this :+1: Are you aware of any other open-source solvers that support indicator constraints?

[2022-02-15 00:34] odow commented on #187
No. Note that Cbc also doesn't support indicator constraints, but it does support SOS constraints. We use a reformulation from SOS to indicator.

In general though, you're probably better off formulating an explicit big-M formulation of your MILP, rather than using indicator constraints. Then you can use any MILP solver, and you'll have a bit more control over the numerics:
https://jump.dev/JuMP.j

[2022-02-26 05:26] GregPlowman commented on #186
I can reproduce on Windows.

Seems it might be Windows specific, see https://discourse.julialang.org/t/cbc-solver-crashes-julia-with-multithreading/73859

[2022-02-28 00:49] odow commented on #186
I don't have a Windows machine to debug. At this point I would encourage you instead to use [HiGHS.jl](https://github.com/jump-dev/HiGHS.jl). It's actively developed, and has similar or better performance to Cbc.

[2022-02-28 01:33] GregPlowman commented on #186
Sure. Thanks! I’m using HiGHS now.
(I was really just providing another data point for others)

[2022-03-02 22:36] odow commented on #186
I've confirmed that this is Windows-specific: https://github.com/jump-dev/Cbc.jl/pull/190. But this is unlikely to be resolved. If you are on Windows, don't use the `threads` parameter.

[2022-03-02 22:45] odow commented on #187
I've reproduced the failure here: https://github.com/jump-dev/Cbc.jl/pull/191

But it is specific to Windows and Linux (but not macOS). I don't have any suggested work-arounds.

[2022-03-02 22:54] #112 closed

[2022-03-02 22:55] mlubin commented on #186
Let's print a warning if we see windows users using threads?

[2022-03-02 23:02] odow commented on #186
Done here: https://github.com/jump-dev/Cbc.jl/pull/192

[2022-04-24 18:36] lyinch opened #193 "Double free error on macos M1"
I tried using Cbc and JuMP but get a double free error on an M1 macbook pro:

[code]

I use Julia `Version 1.7.2 (2022-02-06)`

[2022-04-24 22:20] odow commented on #193
The underlying issue is probably: https://github.com/jump-dev/Clp.jl/issues/131.

M1 support in Julia is still Tier 3: https://julialang.org/downloads/#supported_platforms.

Use Rosetta, or use HiGHS.jl instead.

[2022-05-03 12:26] jasperbos opened #196 "Clp.jl version issue when installing JEMSS package"
On a Fedora 35 machine with a fresh Julia 1.7.2 installation, I ran into an issue with Clp. I tried to install [JEMSS](https://github.com/uoa-ems-research/JEMSS.jl) and ran into stack trackes below after running `Pkg.precompile()`.

It seems that the main error is `LoadError: InitError: could not load library “/home/jasperbos/.julia/artifacts/e54c61de2448715375d627cc2deffc91d4a7815b/lib/libClp.so”

[2022-05-03 21:03] #196 closed

[2022-06-14 09:39] ShuhuaGao opened #198 "Options like Gurobi's LogFile and ImproveStartTime"
The Gurobi parameters are documented [here](https://www.gurobi.com/documentation/9.1/refman/mip_models.html).
Do we have similar options in Cbc.jl? Thanks.

[2022-06-14 09:44] odow commented on #198
The options for Cbc aren't well documented. See here: https://github.com/jump-dev/Cbc.jl#options

[2022-06-14 10:07] ShuhuaGao commented on #198
Thank you. I will stick to the known options for now.

[2022-06-30 00:41] odow opened #199 "(Heisen)segfault on Julia 1.6, x86 macOS"
The last build on master segfaulted on Julia 1.6 and macOS:
https://github.com/jump-dev/Cbc.jl/runs/6280862905?check_suite_focus=true
but the PR from which it came didn't:
https://github.com/jump-dev/Cbc.jl/runs/6280640822?check_suite_focus=true

I just triggered it locally, but now I can't reproduce.

[2022-07-14 08:41] ShuhuaGao opened #200 "How to get the current solution in the case of TIME_LIMIT?"
When the optimization terminates due to timeout (that is, `termination_status(model) = TIME_LIMIT`), Gurobi.jl can still give a non-optimal possible solution, e.g., by `x = value.(model[:x])`. However, Cbc.jl will fail in the same case and throw an error below:
`Result index of attribute MathOptInterface.VariablePrimal(1) out of bounds. There are currently 0 solution(s) in the model.`

Even if I d

[2022-07-15 08:35] blegat commented on #200
Is there any integer variables ?

If there are 0 solutions it means this returns zero:
https://github.com/jump-dev/Cbc.jl/blob/3db1f16751a18d4f200b15bfd6116925fbdfddb0/src/MOI_wrapper/MOI_wrapper.jl#L629-L636

See [`Cbc_numberSavedSolutions`](https://www.coin-or.org/Doxygen/Cbc/classCbcModel.html#a22dba737a990820822f540dcc81eac42)

[2022-07-15 08:44] blegat commented on #200
It seems we're calling the `C` Cbc function so it's indeed what the internal solvers says.
You can try `Cbc.Cbc_numberSavedSolutions(JuMP.unsafe_backend(model))` where `model` is the JuMP model to make sure of it.

[2022-07-16 02:35] odow commented on #200
Cbc.jl will provide a suboptimal solution if Cbc has one to report. There are a variety of reasons that this might not be the case, so it's hard to give more advice without a reproducible example and the solver log.

If you need to use an open-source MILP solver, try HiGHS.jl instead.

[2022-07-16 08:32] ShuhuaGao commented on #200
OK. Thank you for the advice. I will check HiGHS.jl.

[2022-07-16 08:32] #200 closed

[2022-08-29 15:39] thchr opened #203 "Precompilation failure on v1.8 (related to MUMPS_seq_jll?)"
I'm having trouble precompiling this package on Julia v1.8 (everything works fine on v1.7); my troubles seem related to MUMPS_seq_jll.

Specifically, if I try to add Cbc (in a completely clean package environment), precompilation fails for several jll dependencies of Cbc:
[code]
Additionally MUMPS_seq_jll is marked as outdated:
[code]

The versions of Cbc, Clp_jll, Cgl_jll, and Cbc_jll are:
[code]

[2022-08-29 19:53] odow commented on #203
cc @amontoison here's another MUMPS_seq_jll issue on Julia v1.8.

x-ref: https://github.com/jump-dev/Ipopt.jl/pull/327

For now a work-around is probably
[code]
There's some issue with the v5.5.1 version of MUMPS_seq_jll on Windows in Julia 1.8.

[2022-08-29 20:35] amontoison commented on #203
@odow One issue comes from the PR of @blegat https://github.com/JuliaPackaging/Yggdrasil/pull/4806
MUMPS_seq_jll v4.0.3 has only static libraries.
I don't know why it wasn't recompiled with the version number `4.0.4`.

[2022-08-29 20:38] odow commented on #203
How does that PR affect `MUMPS_seq_jll@5.5.1`?

[2022-08-29 20:40] amontoison commented on #203
@blegat
I don't understand why we have a version `401.1000.000` of `MUMPS_seq_jll` :thinking:
It should break all packages that rely on shared libraries of MUMPS.
https://github.com/JuliaRegistries/General/pull/58881#issuecomment-1105270509

[2022-08-29 20:52] amontoison commented on #203
@odow
Can you open a PR to check if `Cbc` can be precompiled on Linux / OSX with Julia v1.8?
I need to check if the version `401.1000.000` or `5.5.1` is installed by default.
It seems that `Cbc` is unable to open / find the shared of `MUMPS_seq_jll`.

[2022-08-29 21:40] odow commented on #203
Actually, here's one from yesterday: https://github.com/jump-dev/Cbc.jl/runs/8060859973?check_suite_focus=true, which uses `MUMPS_seq_jll v5.5.1+0` on Windows and everything is fine.

[2022-08-29 21:49] odow commented on #203
@thchr what happens if you just run `] add MUMPS_seq_jll@5.5.1`, and then `using MUMPS_seq_jll`? And what happens if you try the work-around of `] add Cbc MUMPS_seq_jll@5.4.1`?

[2022-08-29 22:19] odow commented on #203
I just had a chat to @amontoison and we think we have a patch to fix this issue: https://github.com/JuliaRegistries/General/pull/67310

It's unrelated to Ipopt.

[2022-08-30 02:00] thchr commented on #203
That throws on the `using MUMPS_seq_jll` with:

<details><summary>Stack trace</summary>
[code]
</details>

This works without a hitch :)

Thanks for looking at a fix for this so quickly!

[2022-08-30 02:11] odow commented on #203
Okay, the problem is definitely that MUMPS_seq_jll v5.5.1 is broken on Windows. @amontoison has a plan to recompile things, but the patch to the General registry will prevent people installing Cbc from getting the broken version of MUMPS.

Another work-around is to use HiGHS instead. At this point, I would encourage all users of Cbc to switch to HiGHS.

[2022-08-30 22:31] odow commented on #203
@thchr can you try now in a fresh environment? The registry should be updated.

[2022-08-30 22:51] thchr commented on #203
Works now! Thanks!

I tried the HiGHS solver per your suggestion, but it did not seem generically faster than Cbc for the problems I had (MILP via LayeredLayouts.jl): what's the rationale for switching?

[2022-08-30 22:51] #203 closed

[2022-08-30 23:48] odow commented on #203
HiGHS is supported and actively developed.

[2022-09-08 00:32] lucasprocessi opened #204 "JuMP.value() Performance Issue"
When solving a big MIP using Cbc and JuMP, the time to retrieve the values of all variables seems to grow with the square of the problem size.

Probing the entire solution of the following mock problem takes 0.07s for M=1,  7.0s for M = 10 and 700s for M =100 in my laptop.

[code]

When M=1000, it takes 19 hours to get all primal values from this model. Just by comparison, the same operation takes

[2022-09-08 00:53] odow commented on #204
Profile shows it's here:
![image](https://user-images.githubusercontent.com/8177701/189009945-d1683ebd-4f4b-43ae-bae4-1c9ff55e6e85.png)

I'll take a look.

[2022-09-08 01:49] #204 closed

[2022-09-08 10:24] lucasprocessi commented on #204
Thanks a lot @odow !

[2022-09-09 02:38] odow commented on #204
No problem. If you're solving large MIPs, you should also try out HiGHS.jl: https://github.com/jump-dev/HiGHS.jl

[2022-10-27 07:51] matbesancon opened #208 "Variable names"
From the C interface, columns in Cbc seem to have variable names, not sure they can be set after creation though.
In any case, when the problem is created with copy_to, names could be passed as well

[2022-10-27 07:57] odow commented on #208
Is there a need for this? I think I punted because we always use Cbc with a cache, and that stores the names. Supporting names is really only needed for solvers in direct-mode.

Methods are here:

https://github.com/jump-dev/Cbc.jl/blob/e028e26982d9b0b148e4e8e058d86be2333a65fb/src/gen/libcbc_api.jl#L41-L47

https://github.com/jump-dev/Cbc.jl/blob/e028e26982d9b0b148e4e8e058d86be2333a65fb/src/gen/li

[2022-10-27 08:33] matbesancon commented on #208
the use case is solving instances loaded from a file with Cbc, it would be useful to have access to the names (and have them set at copy_to time)

[2022-10-28 20:49] odow commented on #199
Closing a non-reproducible.

[2022-11-01 15:40] sklink opened #210 "You have installed version 2.10.8 of Cbc, which is not supported by Cbc.jl"
I have added Cbc via `add Cbc` in Julia REPL. The build works fine on my Mac with M1 but on GitHub Actions and on my Windows PC I receive this error:

[code]

My understanding is that `Cbc.jl` is the one installing those binaries -- I don't have them pre-installed anywhere.

[2022-11-01 15:46] sklink commented on #210
Seems rather than committing `Cbc` to the package as a dependency, having it added in the build script grabs the proper binaries -- as the error suggests above, except I had to actually remove it from the `Manifest.toml` through `remove Cbc` beforehand.

[2022-11-01 18:28] odow commented on #210
Please update your packages. This is fixed in `v1.0.3` of Cbc.jl.

[2022-11-01 18:51] sklink commented on #210
I only attempted to install `Cbc.jl` yesterday, so I believe it should've defaulted to the latest version. We've moved on to using `HiGHs` instead but I'll give this another shot if we need to switch back.

[2022-11-01 19:02] odow commented on #210
Great!

Closing this issue because as far as I'm aware, this is fixed in the latest version. There may have been some other version incompatibilities going on. Hard to say without knowing the details. Please re-open if you can reproduce in future, and provide the output of `import Pkg; Pkg.status()`.

[2022-11-01 19:02] #210 closed

[2022-11-30 22:23] #208 closed